* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://wallpapercave.com/wp/wp2661660.jpg");
  background-color: #cccccc;
  background-size: cover;
}

//Inicio and submenu
.menu-container {
  display: flex;
  justify-content: center;
  background: rgb(19, 206, 112);
  height: 60px;
  align-items: center;

}

.sub-menu-container {
  display: flex;
  justify-content: center;
  background: rgb(104, 223, 143);
  height: 60px;
  align-items: center;
  
}

.menu-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  a{
    text-decoration: none;
    font-size: 30px;
    color: rgb(26, 100, 197);
    -webkit-text-stroke: 0.2px black;
  }
}

.sub-menu-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
a{
  text-decoration: none;
  font-size: 30px;
  color: rgb(13, 14, 99);
 
}
}
//Fin menu and submenu

//inicio de accordion
.main-accordion-container {

  

  .accordion-item{
    border-radius: 10px;
    background: rgb(19, 206, 112);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    flex-direction: column;
    padding: 0 5px 0 5px;

    .accordion-desc {
      border-radius: 10px;
      border: 1px solid black;
      display: none;
      background: rgb(104, 223, 143);
      padding: 15px;
      margin-top: 15px;
      width: 50%;
    }

    .accordion-title{
      color: rgb(4, 4, 26);
      font-family: Arial;
      font-size: 20px;
      width: 90%;
      display: flex;
      justify-content: center;
      padding: 20px;
      text-decoration-color: rgb(26, 100, 197);
    }
    &.tab-active {
      .accordion-desc{
        width: 98%;
        height: auto;
        display: flex;
        justify-content: center;
      }
    }
  }
}
//fin accordion

//Inicio Main
main {
  display: flex;
  border: 1px solid black;
  background-color: rgb(41, 182, 175);

  .container-1 {
    width: 100%;
    display: flex;
    align-items: center;

    .text-container-1 {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        text-align: justify;
        width: 85%;
        padding-bottom: 20px;
      }
    }

    .container-1-img {
      img {
        max-width: 450px;
        display: block;
      }
    }
  }

  .container-2 {
    width: 100%;
    display: flex;
    align-items: center;

    .text-container-2 {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        text-align: justify;
        width: 85%;
        padding-bottom: 20px;
      }
    }

    .container-2-img {
      img {
        max-width: 450px;
        display: block;
      }
    }
  }

}
//Fin main

//inicio cards
.card-list {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;

  .card-item {
    width: 35%;
    height: 400px;
    border-radius: 5px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 11px -1px black;
    margin-bottom: 30px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background: #2ee2ac;

    &:hover{
      transform: scale(1.05);
    }

    img {
      width: 100%;
      margin-bottom: 10px;
      max-height: 250px;
      min-height: 250px;
      display: flex;
    }

    .card-title {
      font-size: 18px;
      font-weight: bold;
      font-family: 'Helvetica';
      margin-bottom: 10px;
    }

    .card-info {
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      flex: 1 0;
      justify-content: flex-end;
    }

    .card-desc {
      font-family: 'Helvetica';
      font-size: 14px;
    }

    .card-cta {
      text-decoration: none;
      display: block;
      text-align: right;
      font-family: 'Helvetica';
      font-size: 12px;
      border-top: solid 1px black;
      padding-top: 10px;
      margin-top: 30px;
    }

  }//card list 
}//fin cards

//inicio footer
.footer-container {

  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
   

  .footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    p {
      text-decoration: none;
      color: white;
      font-size: 20px;

    }
  }

  .footer-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
 
    p {
      text-decoration: none;
      color: white;
      font-size: 15px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  }

}//end footer

@media (max-width: 991px) {

  //inicio footer
.footer-container {

  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
   

  .footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    p {
      text-decoration: none;
      color: white;
      font-size: 20px;

    }
  }

  .footer-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
 
    p {
      text-decoration: none;
      color: white;
      font-size: 15px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  }

}//end footer

  //Esta clase afecta el menu 
  .menu-container {
    display: flex;
    padding: 0 15px;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding-top: 20px;
    .menu-list {
      display: none;
    } 
    .hamburger-icon{
      width: 35px;
      height: 25px;
      display: flex;
      padding: 1%;
      justify-content: space-between;
      flex-direction: column;
    
      span{
        height: 4px;
        width: 100%;
        background: white;
        display: block;
        border-radius: 2px;
      }
    }


  }

  .menu-container.menu-open{
    .menu-list{
      z-index: 100;
      border: 2px solid black;
      width: 150px;
      padding-top: 70px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      align-content: left;
      background-color: rgb(6, 240, 45);
      border-radius: 5px;
        a{
          padding-top: 5px;
          padding-bottom: 5px;
        }
    }
  }


  //Esta clase afecta al sub menu
  .sub-menu-container {
    display: flex;
    padding: 0 15px;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    .sub-menu-list {
      display: none;
    }
  
    .sub-hamburger-icon{
      width: 35px;
      height: 25px;
      padding: 1%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    
      sub-span{
        height: 5px;
        width: 100%;
        background: black;
        display: block;
        border-radius: 10px;
      }
    }

  }
  .sub-menu-container.sub-menu-open{
    align-items: baseline;
    .sub-menu-list{
      z-index: 100;
      border: 2px solid black;
      width: 200px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      align-content: right;
      background-color: rgb(6, 240, 45);
      border-radius: 5px;

        a{
          padding-top: 5px;
          padding-bottom: 5px;
        }
    }
  } 

  .card-list {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
  
    .card-item {
      width: 45%;
      height: 400px;
      border-radius: 5px;
      padding-bottom: 10px;
      box-shadow: 2px 2px 11px -1px black;
      margin-bottom: 30px;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      background: #2ee2ac;
  
      &:hover{
        transform: scale(1.05);
      }
  
      img {
        width: 100%;
        margin-bottom: 10px;
        max-height: 250px;
        min-height: 250px;
        display: flex;
      }
  
      .card-title {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Helvetica';
        margin-bottom: 10px;
      }
  
      .card-info {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        flex: 1 0;
        justify-content: flex-end;
      }
  
      .card-desc {
        font-family: 'Helvetica';
        font-size: 14px;
      }
  
      .card-cta {
        text-decoration: none;
        display: block;
        text-align: right;
        font-family: 'Helvetica';
        font-size: 12px;
        border-top: solid 1px black;
        padding-top: 10px;
        margin-top: 30px;
      }
  
    }//card list 
  }
  
  
}

@media (min-width: 701px){

  main {
    display: flex;
    border: 1px solid black;
    background-color: rgb(41, 182, 175);
  
    .container-1 {
      width: 100%;
      display: flex;
      align-items: center;
  
      .text-container-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        p {
          text-align: justify;
          width: 85%;
          padding-bottom: 20px;
        }
      }
  
      .container-1-img {
        img {
          max-width: 450px;
          display: block;
        }
      }
    }
  
    .container-2 {
      width: 100%;
      display: flex;
      align-items: center;
  
      .text-container-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        p {
          text-align: justify;
          width: 85%;
          padding-bottom: 20px;
        }
      }
  
      .container-2-img {
        img {
          max-width: 450px;
          display: block;
        }
      }
    }
  
  }

  .main-header{
    height: 400px;
    width: 100%;
    background: url('https://cdn.hipwallpaper.com/i/86/52/W9PhbN.png') no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    padding-top: 30px;
    justify-content: center;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      
    }

    a:before{
      content: '';
    }

    .main-page-title {
      color: white;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      position: absolute;
      z-index: 1;
      font-size: 60px;
      text-align: center;
      -webkit-text-stroke: 1px black;
      
    }

    .main-page-descrip{
      color: rgb(17, 236, 28);
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      position: absolute;
      z-index: 1;
      font-size: 30px;
      text-align: center;
      -webkit-text-stroke: 0.5px black;
    }
  }
}

@media (max-width: 701px){

  .main-accordion-container {

  

    .accordion-item{
      border-radius: 10px;
      background: rgb(19, 206, 112);
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      flex-direction: column;
      padding: 0 5px 0 5px;
  
      .accordion-desc {
        border-radius: 10px;
        border: 1px solid black;
        display: none;
        background: rgb(104, 223, 143);
        padding: 15px;
        margin-top: 15px;
        width: 50%;
      }
  
      .accordion-title{
        color: rgb(4, 4, 26);
        font-family: Arial;
        font-size: 20px;
        width: 90%;
        display: flex;
        justify-content: center;
        padding: 20px;
        text-decoration-color: rgb(26, 100, 197);
      }
      &.tab-active {
        .accordion-desc{
          width: 97%;
          height: auto;
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  main {
    display: flex;
    border: 1px solid black;
    background-color: rgb(41, 182, 175);
  
    .container-1 {
      width: 100%;
      display: flex;
      align-items: center;
  
      .text-container-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        p {
          text-align: justify;
          width: 90%;
          padding-bottom: 20px;
        }
      }
  
      .container-1-img {
        img {
          max-width: 250px;
          display: block;
        }
      }
    }
  
    .container-2 {
      width: 100%;
      display: flex;
      align-items: center;
  
      .text-container-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        p {
          text-align: justify;
          width: 90%;
          padding-bottom: 20px;
        }
      }
  
      .container-2-img {
        img {
          max-width: 250px;
          display: block;
        }
      }
    }
  
  }

  .main-header{
    height: 300px;
    width: 100%;
    background: url('https://cdn.hipwallpaper.com/i/86/52/W9PhbN.png') no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    padding-top: 30px;
    justify-content: center;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      
    }

    a:before{
      content: '';
    }

    .main-page-title {
      color: white;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      position: absolute;
      z-index: 1;
      font-size: 40px;
      text-align: center;
      -webkit-text-stroke: 1px black;
      
    }

    .main-page-descrip{
      color: rgb(17, 236, 28);
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      position: absolute;
      z-index: 1;
      font-size: 20px;
      text-align: center;
      -webkit-text-stroke: 0.5px black;
    }
  }


}

@media (max-width: 501px){

  .main-accordion-container {

  

    .accordion-item{
      border-radius: 10px;
      background: rgb(19, 206, 112);
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      flex-direction: column;
      padding: 0 5px 0 5px;
  
      .accordion-desc {
        border-radius: 10px;
        border: 1px solid black;
        display: none;
        background: rgb(104, 223, 143);
        padding: 15px;
        margin-top: 15px;
        width: 50%;
      }
  
      .accordion-title{
        color: rgb(4, 4, 26);
        font-family: Arial;
        font-size: 20px;
        width: 90%;
        display: flex;
        justify-content: center;
        padding: 20px;
        text-decoration-color: rgb(26, 100, 197);
      }
      &.tab-active {
        .accordion-desc{
          width: 92%;
          height: auto;
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  .footer-container {

    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
     
  
    .footer-list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      p {
        text-decoration: none;
        color: white;
        font-size: 15px;
  
      }
    }
  
    .footer-info {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-right: 15px;
   
      p {
        text-decoration: none;
        color: white;
        font-size: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
    }
  
  }


    main {
    display: flex;
    border: 1px solid black;
    background-color: rgb(41, 182, 175);
  
    .container-1 {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
  
      .text-container-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        p {
          text-align: justify;
          width: 90%;
          padding-bottom: 20px;
        }
      }
  
      .container-1-img {
        img {
          max-width: 100%;
          display: block;
        }
      }
    }
  
    .container-2 {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
  
      .text-container-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        p {
          text-align: justify;
          width: 90%;
          padding-bottom: 20px;
        }
      }
  
      .container-2-img {
        img {
          max-width: 100%;
          display: block;
        }
      }
    }
  
  }

  .main-header{
    height: 200px;
    width: 100%;
    background: url('https://cdn.hipwallpaper.com/i/86/52/W9PhbN.png') no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    padding-top: 30px;
    justify-content: center;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      
    }

    a:before{
      content: '';
    }

    .main-page-title {
      color: white;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      position: absolute;
      z-index: 1;
      font-size: 30px;
      text-align: center;
      -webkit-text-stroke: 1px black;
      
    }

    .main-page-descrip{
      color: rgb(17, 236, 28);
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      position: absolute;
      z-index: 1;
      font-size: 17px;
      text-align: center;
      -webkit-text-stroke: 0.5px black;
    }
  }

  .card-list {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
  
    .card-item {
      width: 90%;
      height: 400px;
      border-radius: 5px;
      padding-bottom: 10px;
      box-shadow: 2px 2px 11px -1px black;
      margin-bottom: 30px;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      background: #2ee2ac;
      max-height: 350px;
      min-height: 350px;
  
      &:hover{
        transform: scale(1.05);
      }
  
      img {
        width: 100%;
        margin-bottom: 10px;
        max-height: 150px;
        min-height: 150px;
        display: flex;
      }
  
      .card-title {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Helvetica';
        margin-bottom: 10px;
      }
  
      .card-info {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        flex: 1 0;
        justify-content: flex-end;
      }
  
      .card-desc {
        font-family: 'Helvetica';
        font-size: 14px;
      }
  
      .card-cta {
        text-decoration: none;
        display: block;
        text-align: right;
        font-family: 'Helvetica';
        font-size: 12px;
        border-top: solid 1px black;
        padding-top: 10px;
        margin-top: 30px;
      }
  
    }//card list 
  }
}
